.communities {
  height: 24px;
  width: 24px;
}

.communities .group {
  height: 19px;
  position: relative;
  top: 2px;
}

.communities .overlap-group-2 {
  height: 22px;
  left: -2px;
  position: relative;
  top: -1px;
  width: 26px;
}

.communities .icon-5 {
  height: 18px;
  left: 9px;
  position: absolute;
  top: 1px;
  width: 17px;
}

.communities .icon-6 {
  height: 22px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}
